{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          {% include 'includes/alerts.html' %}
          <div class="card-body">
          <h4 class="card-title mb-4">Login</h4>
          <hr>
          <form action="{% url 'login' %}" method='POST'>
              {% csrf_token %}

              <div class="form-group my-3">
                 <input type="email" class="form-control" placeholder="Email" name='email'>
              </div> <!-- form-group// -->
              <div class="form-group my-3">
                <input type="password" class="form-control" placeholder="Password" name='password' >
              </div> <!-- form-group// -->
              
              <div class="form-group ">
                  <button type="submit" class="btn btn-secondary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">No tienes una cuenta? <a class="text-success" href="{% url 'register' %}" style="text-decoration:none ;">Registrate</a></p>
         <br><br>

    </section>
  
{% endblock %}
