
		{% extends 'base.html' %}
		{% load static %}
		
		{% block content %}
	
		<div class="container-fluid ">
			<div class="row col-md-6 offset-md-3 my-5 "  >
			  <div id="carouselStefree" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner rounded-2 shadow-sm">
				  <div class="carousel-item active">
					<img src="{% static 'Tienda/img/promo3x2-1.jpg'%}" class="d-block w-100" alt="..." style="max-height: 400px;">
				  </div>
				  <div class="carousel-item ">
					<img src="{% static 'Tienda/img/promo3x2-2.jpg'%}" class="d-block w-100" alt="..." style="max-height: 400px ;">
				  </div>
				  <div class="carousel-item ">
					<img src="{% static 'Tienda/img/promo3x2-3.jpg'%}" class="d-block w-100" alt="..." style="max-height: 400px ;">
				  </div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselStefree" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselStefree" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
			</div>
		  </div>
	
		<section class="section-name padding-y-sm">
		<div class="container">
		
		<header class="section-heading m-3">
			<h3 class="section-title">Productos populares</h3>
		</header><!-- sect-heading -->
		
			
		<div class="row">

			{% for product in products %}

			<div class="col-md-3 mb-3">
				<div class="card shadow-sm  " style="height: 400px  ;">
					<a href="{{ product.get_url }}" class="card-img-top m-auto mt-2" style="max-width: 270px;" > <img class="img-fluid" src="{{ product.images.url }}"> </a>
					<figcaption class="info-wrap">
						<a class="text-secondary my-2" href="{{ product.get_url }}" class="title"> {{ product.product_name }} </a>
						<div class="price m-1 d-flex justify-content-end">precio: $ {{ product.price }}</div> <!-- price-wrap.// -->
					</figcaption>
				</div>
			</div> <!-- col.// -->

			{% endfor %}
			
			
		</div> <!-- row.// -->
		<div class="row d-flex justify-content-end">
			<div class="col-lg-2 d-flex d-flex justify-content-end">
				<a href="{% url 'store' %}" class="btn btn-outline-success  ">Ver Todo</a>
	
			</div>

		</div>
		
		

		
		</div><!-- container // -->
		</section>
		{% endblock %}